<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.PluginTwitter"
    version="1.0.0">

<name>PluginTwitter</name>
<description>Does a twitter.</description>
<license>MIT</license>

<engines>
    <engine name="cordova" version=">=3.0.0" />
</engines>    

<asset src="www/PluginTwitter.js" target="PluginTwitter.js" />

<platform name="ios">

    <!--<asset src="www/CDVPluginTwitter.js" target="CDVPluginTwitter.js" />-->
    <!--<js-module src="www/cdvplugintwitter.js" name="CDVPluginTwitter">
        <clobbers target="cordova.plugins.twitter" />
    </js-module> -->

    <config-file target="config.xml" parent="/*">
        <feature name="PluginTwitter">
            <param name="ios-package" value="PluginTwitter" />
        </feature>
    </config-file>    

    <header-file src="src/ios/PluginTwitter.h" />

    <source-file src="src/ios/PluginTwitter.m" />
    
</platform>